@import '_variable';
@import '_global';


//.container

.testimonials-grid {

    display: grid;
    grid-template-columns: 1fr;
    margin: 50px 30px 30px 30px;
    
    
    .grid1 {
        background-image: url('/images/bg-pattern-quotation.svg');
        background-repeat: no-repeat;
        background-position: right;
        background-position-y: 0px;
        color: $White;
        background-color: $Moderate-violet;
        transition: 1s ease;
    }

    .grid2 {

        background-color: $Very-dark-grayish-blue;
        color: $White;
        transition: 2s ease;
    }

    .grid3 {

        background-color: $White;
        transition: 3s ease;
        
    }

    .grid4 {

        background-color: $Very-dark-blackish-blue;
        color: $White;
        transition: 4s ease;
    }

    .grid5 {

        background-color: $White;
        transition: 5s ease;
        
    }

    .grid {

        padding: 25px;
        border-radius: 10px;
        margin-bottom: 40px;
        
        
        
        .biodata {

            display: grid;
            grid-template-columns: 50px 100px;
            grid-template-rows: 50px;

            img {
                width: 40px;
                border: 2px solid $White;
                margin-top: 7px;
                border-radius: 50%;
            }

            .names{

                font-family: $font;
                

                h6:first-child {

                    margin-top: 10px;
                    margin-bottom: 4px;
                }

                h6:last-child {

                    opacity: 50%;
                    margin-top: 0px;
                }
            }

        }

        .feedback-heading {

            font-family: $font;
            font-size: 17px;

            h3 {

                margin-top: 7px;
            }
        }

        .feedback-detail {

            font-family: $font;
            font-size: $Font-size;
            opacity: 70%;
        }



    }
}

.attribution {

    font-size: 16px; 
    text-align: center; 
    font-family: $font;
    
}
.attribution a {
    
    color: hsl(228, 45%, 44%); 
    text-decoration: none;
}


@media all and (min-width: 800px) {
    
    .testimonials-grid {

        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-column-gap: 30px;
        margin-top: 100px;

        .grid1 {

            grid-column-start: 1;
            grid-column-end: 3;
            grid-row-start: 1;
        }
    
        .grid3 {
    
            background-color: $White;
            
        }
    
        .grid4 {
    
            grid-column-start: 2;
            grid-column-end: 4;
            grid-row-start: 2;
        }
    
        .grid5 {
    
            grid-column-start: 4;
            grid-column-end: 4;
            grid-row-start: -1;
            grid-row-end: 3;
            
        }

      
    }
}


